{% extends '_base.html' %}

{% block content %}

    {% include 'todo-templates/add_todo.html' %}

    {% if user.is_superuser %}

                <a data-modal-toggle="extralarge-modal" type="button">
                    <button class="flex items-center py-2 px-2 m-5 md:px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 ease-in-out duration-150 cursor-pointer hover:text-cyan-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                        </svg>
                         New Todo
                    </button>
                </a>

        {% endif %}
    {% include 'todo-templates/todo-li-el.html' %}
{% endblock %}