<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="" id="change--mode">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <script src="https://kit.fontawesome.com/ef525937ad.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'src/toaster-copied.css' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-slate-200 dark:bg-slate-600">

    {% include "sign_in.html" %}
    {% include "navbar.html" %}

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>